@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --background-color: #17171C;
    --second-color:  #4B5EFC;
    --hover-color: #4E505F;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#calculator {
    display: flex;
    flex-direction: column;
}

.calculator__buttons__row {
    display: flex;
}

main,
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100%;
    background-color: var(--background-color);
    color: rgba(255, 255, 255, .5);
    font-size: 1rem;
}

main {
    height: 90vh;
}

header {
    height: 10vh;
}

#calculator {
    width: 30%;
    height: 100%;
    background-color: var(--background-color);
    color: white;
    align-items: center;
}

#calculator__display {
    height: 30%;
    width: 95%;
    font-size: 2rem;
}

#calculator__display__upperNumber{
    height: 60%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 2rem;
    opacity: .4;
    word-wrap: break-word
}

#calculator__display__resultNumber{
    height: 40%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: end;
    align-items: start;
    font-size: 4rem;
    overflow: hidden;
}

#calculator__buttons {
    width: 95%;
    height: 65%;
}

.calculator__buttons__row {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.calculator__buttons__row__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25%;
    border-radius: 25%;
    background-color: #2E2F38;
    width: 20%;
    font-size: 2rem;
}

.calculator__buttons__row__button:hover{
    background-color: var(--hover-color);
    transition: background-color .2s ease-in-out;
    cursor: pointer;
}

.math_operation{
    background-color: var(--second-color);
}

.top_buttons{
    background-color: var(--hover-color);
}